body {
    background: linear-gradient(20deg, rgb(219, 112, 147), rgb(218, 163, 87));
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    position: absolute;
    top: 320px;
    transform: rotate(15deg);
}

.text-content {
    font-family: 'Courgette', cursive;
    color: white;
    animation: neon 0.7s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
        font-size: 70px;
    }

    to {
        font-size: 90px;
    }
}